#board {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.row {
    display: flex;
}

.box {
    display: flex;
    height: 20px;
    width: 20px;
    border: solid black 2px;
}

.highlight {
    background-color: black;
}